<h1 id="tableLabel">Produtos</h1>



<p *ngIf="!produtos"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="produtos">
  <thead>
    <tr>
      <th>#</th>
      <th>Produto</th>
      <th>Valor Venda (R$)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of produtos">
      <td>{{ prod.produtoID }}</td>
      <td>{{ prod.nome }}</td>
      <td>{{ prod.valorVenda | currency : currencyCode: '' }}</td>
      <td class="text-right">
        <button type="button" (click)="irParaFormProduto(prod.produtoID)" class="btn btn-primary btn-sm mr-2">
          <em class="fa fa-edit"></em>
        </button>
        <button type="button" class="btn btn-secondary btn-sm mr-2">
          <em class="fa fa-camera-retro"></em>
        </button>
        <button type="button" (click)="excluir(prod)" class="btn btn-danger btn-sm mr-2">
          <em class="fa fa-trash"></em>
        </button>
      </td>
    </tr>
    <tr class="text-center" *ngIf="!produtos.length">
      <td colspan="4"> Não existem produtos cadastrados. </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col text-right">
    <button type="button" (click)="irParaFormProduto()" class="btn btn-link">Adicionar Produto</button>
  </div>
</div>

